<template>
  <div class="box" >

  </div>
</template>

<script>
export default {
    created(){
        $("title").text("مكافاة درجة العائلة")
    },
    mounted(){

    }
};
</script>

<style lang="less" scoped>
.box {
  width: 100%;
  height: 35.92rem;
  background: url("../../assets/img/家族等级奖励.jpg") no-repeat center;
  background-size: 100% 100%;
  position: relative;
}
</style>