<template>
  <div class="box">
    <div class="top_avatar">
      <i class="kuang">
        <img
          :src="list[0] && list[0].user_one_avatar.replace('http', 'https')"
          @click="toLink(list[0].user_one_id)"
          onerror="http://image.fengbaotek.com/image/404.jpg"
        />
      </i>
      <i class="kuang1">
        <img
          :src="list[0] && list[0].user_two_avatar.replace('http', 'https')"
          @click="toLink(list[0].user_two_id)"
          onerror="http://image.fengbaotek.com/image/404.jpg"
        />
      </i>
    </div>

    <div class="time">1.21 12:00-1.28 12:00 GMT+3</div>
    <div class="listView">
      <ul class="uls">
        <li
          v-for="(item, index) in list"
          :key="index"
          :class="{ tops: index <= 2 }"
        >
          <div class="dvsp">
            <span class="xin">{{ nums(item.nums) }}</span>

            <div class="left">
              <div class="huangguan_div" v-if="index <= 2">
                <p class="huangguan" v-if="index == 0"></p>
                <p class="huangguan_tong" v-else-if="index == 1"></p>
                <p class="huangguan_yin" v-else-if="index == 2"></p>
              </div>

              <i class="chibang"></i>
              <div class="left_img">
                <img
                  :src="item.user_one_avatar.replace('http', 'https')"
                  @click="toLink(item.user_one_id)"
                  onerror="http://image.fengbaotek.com/image/404.jpg"
                />
              </div>
              <p class="info">{{ item.user_one_nick_name }}</p>
            </div>
            <div class="right">
              <div class="huangguan_div" v-if="index <= 2">
                <p class="huangguan" v-if="index == 0"></p>
                <p class="huangguan_tong" v-else-if="index == 1"></p>
                <p class="huangguan_yin" v-else-if="index == 2"></p>
              </div>
              <div class="right_img">
                <img
                  :src="item.user_two_avatar.replace('http', 'https')"
                  @click="toLink(item.user_two_id)"
                />
              </div>
              <i class="chibang"></i>
              <p class="info">{{ item.user_two_nick_name }}</p>
            </div>
          </div>
          <p class="code">{{ index + 1 }}</p>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import { get, post, uid, secret, imgPath } from "@/utils/http.js";
import { getQueryString } from "@/utils/utils";
export default {
  data() {
    return {
      list: [],
    };
  },
  created(){
    $("title").text("قائمة CP")
    $("title").css("direction","rtl")
  },
  mounted() {
    this.getList();
  },
  methods: {
    nums(num) {
      if (parseInt(num) > 999) {
        return String(num).slice(0, String(num).length - 1) + "k";
      }
      return num;
    },
    toLink(id) {
      window.location.href = "jianyue://get_user_detail?user_id=" + id;
    },
    getList() {
      this.$bus.$emit("logd", true);
      let beginTime = getQueryString("beginTime");
      let endTime = getQueryString("endTime");
      let users = getQueryString("users")
        ? getQueryString("users").split(",")
        : [];
      let date = getQueryString("date");

      get(
        this,
        `/share/teamgiftrank?_v=1.1.3&begintime=${beginTime}&endtime=${endTime}`
      ).then((res) => {
        if (res.code == 0) {
          this.list = res.data.rank_list;
        }
      });
    },
  },
};
</script>

<style lang="less" scoped>
.tops {
  height: 2.87rem !important;
}
.huangguan_tong {
  width: 1rem;
  height: 0.56rem;
  background: url("../../assets/img/皇冠铜@2x.png") no-repeat center;
  background-size: 100% 100%;
  position: absolute;
}
.huangguan_yin {
  width: 1rem;
  height: 0.56rem;
  background: url("../../assets/img/皇冠银@2x.png") no-repeat center;
  background-size: 100% 100%;
  position: absolute;
}
img {
  object-fit: fill;
  object-fit: cover;
}
.box {
  height: 47.32rem;
  background: url("../../assets/img/cp背景.jpg") no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  width: 100%;
  .top_avatar {
    margin-top: 2.11rem;
    display: flex;
    justify-content: center;
    .kuang {
      background: url("../../assets/img/头像框@2x.png") no-repeat center;
      background-size: 100% 100%;
      width: 2.08rem;
      height: 2.08rem;
      position: relative;
      left: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        width: 1.9rem;
        height: 1.9rem;
        border-radius: 50%;
      }
    }
    .kuang1 {
      background: url("../../assets/img/头像框@2x.png") no-repeat center;
      background-size: 100% 100%;
      width: 2.08rem;
      height: 2.08rem;
      position: relative;
      right: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        width: 1.9rem;
        height: 1.9rem;
        border-radius: 50%;
      }
    }
  }
  .time {
    margin-top: 1.4rem;
    width: 3.87rem;

    height: 0.368rem;
    margin-left: auto;
    line-height: 0.368rem;
    margin-right: auto;
    text-align: center;
    color: #5b048c;
  }
  .listView {
    margin-top: 19.1rem;

    .uls {
      height: 19.36rem;
      overflow: auto;
      li {
        display: flex;
        justify-content: center;
        height: 2.62rem;
        align-items: center;
        .code {
          font-size: 0.3rem;
          color: #985ccd;
          font-weight: bold;
        }
        .dvsp {
          display: flex;
          align-items: center;
          position: relative;
          .xin {
            background: url("../../assets/img/心形@2x.png") no-repeat center;
            width: 0.78rem;
            height: 0.69rem;
            background-size: 100% 100%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 9999999;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.2rem;
            color: #ffffff;

            font-family: "Microsoft YaHei";
          }
          .left {
            width: 3.21rem;
            height: 2.46rem;
            display: flex;
            justify-content: flex-end;
            align-content: center;
            position: relative;
            align-items: center;
            position: relative;
            left: 0.1rem;
            .info {
              position: absolute;
              bottom: -0.11rem;
              width: 1.75rem;
              text-align: center;
              color: #fff;
              overflow: hidden;

              white-space: nowrap;

              text-overflow: ellipsis;
            }
            .huangguan_div {
              width: 1.75rem;
              position: absolute;
              top: 0.01rem;
              display: flex;
              justify-content: center;

              .huangguan {
                width: 1rem;
                height: 0.56rem;
                background: url("../../assets/img/皇冠金@2x.png") no-repeat
                  center;
                background-size: 100% 100%;
                position: absolute;
              }
            }

            .left_img {
              width: 1.75rem;
              height: 1.75rem;
              border-radius: 50%;
              background: url("../../assets/img/左@2x.png") no-repeat center;
              background-size: 100% 100%;
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                position: relative;
                right: 0.01rem;
              }
            }
            .chibang {
              background: url("../../assets/img/chibang2@2x.png") no-repeat
                center;
              width: 1.63rem;
              height: 1.15rem;
              background-size: 100% 100%;
              position: absolute;
              left: 0.2rem;
              top: 0.7rem;
            }
          }
          .right {
            width: 3.21rem;
            height: 2.46rem;
            display: flex;
            position: relative;
            align-items: center;
            position: relative;
            right: 0.1rem;
            img {
              width: 1.5rem;
              height: 1.5rem;
            }
            .info {
              position: absolute;
              bottom: -0.11rem;
              width: 1.58rem;
              text-align: center;
              color: #fff;
              overflow: hidden;

              white-space: nowrap;

              text-overflow: ellipsis;
            }
            .huangguan_div {
              width: 1.75rem;
              position: absolute;
              top: 0.01rem;
              display: flex;
              justify-content: center;

              .huangguan {
                width: 1rem;
                height: 0.56rem;
                background: url("../../assets/img/皇冠金@2x.png") no-repeat
                  center;
                background-size: 100% 100%;
                position: absolute;
              }
            }

            .right_img {
              width: 1.75rem;
              height: 1.75rem;
              border-radius: 50%;
              background: url("../../assets/img/左@2x.png") no-repeat center;
              background-size: 100% 100%;
              position: absolute;
              z-index: 10000;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                position: relative;
                top: 0.003rem;
              }
            }

            .chibang {
              background: url("../../assets/img/chibang1@2x.png") no-repeat
                center;
              width: 1.63rem;
              height: 1.15rem;
              background-size: 100% 100%;
              position: absolute;
              right: 0.2rem;
              top: 0.7rem;
            }
          }
        }
      }
    }
  }
}
li:first-child .right_img img {
  position: relative !important;
  bottom: 0.01rem !important;
  left: 0.008rem;
  top: 0 !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
}
li:first-child .left_img img {
  position: relative !important;
  bottom: 0.01rem !important;
  left: 0.001rem;
  width: 1.5rem !important;
  height: 1.5rem !important;
}
li + li .left_img img {
  top: 0.01rem;
  left: 0.001rem;
  width: 1.5rem !important;
  height: 1.5rem !important;
}
</style>