<template>
  <div class="box">
    <div class="kuang">1.21 19:00-1.28 19:00 GMT+3</div>
    <div class="avatar" :style="{'background': 'url('+avatar+')'}" >
      <i class="xingxing"></i>
    </div>
    <p class="grade_text">
      <span class="sps">{{ level }}</span
      >:درجتي
    </p>
    <div class="actions">
      <p class="tits">كوينزات ممكن حصول عليها اليوم:</p>
      <p class="prices">
        <span class="leve_nums">{{levelnum}}</span>
        <span class="icon_jinbi"></span>
      </p>
      <div class="btn_stus yilingqu" v-if="isgift == 0"></div>
      <div v-else class="btn_stus lingqu" @click="usergot"></div>
    </div>
    <div id="loading1" style="display: none"></div>
  </div>
</template>

<script>
import bus from "@/utils/bus";
import { get, post, uid, secret,imgPath } from "@/utils/http.js";
export default {
  data() {
    return {
      usermsg: null,
      level: null,
      isgift: 0,
      avatar:null,
      levelnum:0
    };
  },
  created() {
    $("title").text("استلام مكافأة الدرجة يوميا ");
  },
  mounted() {
    this.getlevel();
  },
  methods: {
    usergot() {
      get(this, `/share/getservertime?_v=1.4.9`).then((res) => {
        if (res.code == 0) {
          this.getlevel();
        }
      });
    },
    gocoin() {
      post(this, `/share/levelcoin?_v=1.1.3`, {
        user_id: uid,
        lang: "ar",
        secret: secret,
      }).then((res) => {
        if (res.code == 0) {
          this.isgift = res.code;
          this.getlevel();
        }
      });
    },
    getlevel() {
      this.$bus.$emit("logd", true);
      get(this, `/share/getlevelcoins?_v=1.1.3&user_id=${uid}&lang=ar`).then(
        (res) => {
          if (res.code == 0) {
            //var getGold = res.data.zegoMic.getGold
            let dataView = res.data.data;
            this.usermsg = dataView.usermsg;

            for (const key in this.usermsg) {
              if (
                this.usermsg[key].magic_type &&
                this.usermsg[key].magic_type == "mylevel"
              ) {
                this.level = this.usermsg[key].level;
                this.avatar = `${imgPath}${dataView.avatar}`
                this.levelnum = dataView.levelnum
                if (dataView.isget) {
                    this.isgift = 0
                }else{
                     this.isgift = 1
                }
              } else {
                this.level = 0;
              }
            }
          }
        }
      );
    },
  },
};
</script>

<style scoped lang="less">

.box {
  background: url("../../assets/img/等级福利每日领取.jpg") no-repeat center;
  background-size: 100% 100%;
  height: 17.86rem;
  position: absolute;
  width: 100%;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.06rem solid #ffe787;
  position: relative;
  left: 50%;
  margin-left: -1.25rem;
  margin-top: 3.7rem;
  background-size: 100% 100% !important;
}

.xingxing {
  display: inline-block;
  width: 0.7rem;
  height: 0.57rem;
  background: url("../../assets/img/xingxing@2x.png") no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  margin-left: -0.39rem;
}

.grade_text {
  width: 2rem;
  font-size: 0.32rem;
  font-family: Myriad Arabic;
  font-weight: bold;
  color: #fff696;
  line-height: 0.37rem;
  text-shadow: 0px 0px 0.04rem #120400;
  position: absolute;
  top: 9.9rem;
  left: 50%;
  margin-left: -2em;
}

.kuang {
  /* position: relative; */
  width: 3.41rem;
  height: 0.38rem;
  border: 0.02rem solid #b38837;
  border-radius: 0.19rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.85rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2c86e;
  font-weight: 400;
}

.actions {
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
}

.tits {
  color: #ffe537;
  font-size: 0.26rem;
}

.prices {
  margin-top: 0.1rem;
  color: #ffe537;
  font-size: 0.26rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_jinbi {
  display: inline-block;
  background: url("../../assets/img/金币icon@2x.png") no-repeat center;
  background-size: 100% 100%;
  width: 0.34rem;
  height: 0.34rem;
  margin-left: 0.08rem;
}

.btn_stus {
  margin-top: 0.6rem !important;
  background-size: 100% 100% !important;
  width: 2.65rem !important;
  height: 0.67rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.lingqu {
  background: url("../../assets/img/领取@2x.png") no-repeat center ;
}
.yilingqu {
      background: url("../../assets/img/已领取@2x.png") no-repeat center ;

}
#loading1 {
  z-index: 9999;
  height: 0.8rem;
  width: 0.8rem;
  background: url(../../assets/img/loading.gif) no-repeat center;
  background-size: 100% auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.6rem 0 0 -0.25rem;
}
</style>