<template>
  <div id="app">
     <div id="loading" v-if="loading"></div>
    <router-view/>
  </div>
</template>

<script>
import rem from  "@/components/js/rem.js"
import jquery from  "@/components/js/jquery.min.js"
import fastclick from "@/components/js/fastclick.js"
export default {
  name: 'App',
  data(){
    return {
      loading:false
    }
  },
  created(){
   
    //全局接收loading
this.$bus.$on("logd",flag=>{
      this.loading=flag
    })
  },
  mounted(){    
  }
}
</script>

<style>
    #loading{
    z-index: 9999;
    height:0.8rem;
    width:0.8rem;
    background: url(assets/img/loading.gif) no-repeat center;
    background-size:100% auto ;
    position:absolute;
    top:50%;
    left:50%;
    margin: -1.6rem 0 0 -0.25rem;
}
*{
  margin: 0px 0px;
  padding: 0px 0px;
    font-family: Arial;
}
ul{
  list-style: none;
}
</style>
